* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #1b1919;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  align-items: center;

  padding: 10px;

  width: 100%;
	

}

footer {
  background-color: #1b1919;
  width: 100%;
  display: flex;
}

/* nav {
  flex-grow: 1;
  background-color: ;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
} */

footer {
  backround-color: grey;
  text-decoration: none;
}

.nav-img {
  grid-column: span 1 / span 1;
  border-radius: 1px;
}

.nav-profile {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-right: 100px;
}

.nav-prof-img {
  grid-column: span 1 / span 1;
}

.page-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.values-container {
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.values-block {
  text-align: center;
  font-family: "Franklin Gothic Medium";
  font-size: 12px; 
  color: #1b1919;
  margin: 50px;
  display: grid;
  flex-grow: 1;
  border-style: solid;
  border-width: 3px;
  border-radius: 200px;
}

.text-container {
  text-align: center;
  font-family: "Franklin Gothic Medium";
  font-size: 20px;
  padding-left: 300px;
  padding-right: 300px;
  color: #1b1919;
}

.text-container2 {
  text-align: center;
  font-family: "Franklin Gothic Medium";
  font-size: 20px;
  padding-left: 300px;
  padding-right: 300px;
  color: #1b1919;
  margin-top: 20px
}
